@tailwind base;
@tailwind components;
@tailwind utilities;

.right
{
    float: right;
    background-color:rgb(97, 42, 70) ;
    font-size: 17px;
    color:white;
    margin-right: 16px;
    padding: 4px;
    margin-top: 16px;
}
.left
{
    float: left;
    background-color:rgb(21, 161, 94) ;
    font-size: 17px;
    color:white;
    margin-right: 16px;
    padding: 4px;
    margin-top: 16px;
}